html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%
}

a {
  text-decoration: none;
}

div#root {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

div.App {
  position: inherit;
  height: inherit;
  width: inherit;
  /* background-color: #2b71b138; */
  /* background-color: rgba(69,101,131,0.10) */
  /* background-color: #d6dee6; */
  background-color: #f0f0f0;
}

div.splash-scrollable-header {
  margin: auto;
  padding: 15px;
  width: 50%;
  height: 350px;
  bottom: 0px;
  position: absolute;
  margin-bottom: 50px;
  left: 25%;

  /* border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;

  -webkit-box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 40px -10px rgba(0,0,0,1); */
}

.disabled {
  pointer-events: none !important;
}

@media screen and (min-width: 1200px) {
  div.splash-scrollable-header{
    width: 50%;
    left: 25;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1000px){
  /* CSS TO APPLY FOR SMALL WIDTH */
  div.splash-scrollable-header{
    width: 75%;
    left: 12.5%;
  }
}

@media screen and (max-width: 767px){
  /* CSS TO APPLY FOR XS WIDTH (MOBILE) */
  div.splash-scrollable-header{
    width: 100%;
    left: 0;
  }
}

@media screen and (max-height: 700px){
  div.splash-scrollable-header{
    height: 50%
  }
}

@media screen and (max-height: 400px){
  div.splash-scrollable-header{
    height: 80%
  }
}

div.splash-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding: 8px;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-flip-vert {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

a {
  color: #2B71B1;
}

a:hover {
  text-decoration: none;
}

code {
  color: #2B71B1;
  background-color: #e6f2fe;
}

.logo-invert {
  -webkit-filter: grayscale(1) invert(1) brightness(1.5);
  filter: grayscale(1) invert(1) brightness(1.5);
}

.content-dark {
  background-color: #2B71B1 !important;
  color: #D6D6D6;
}

.content-dark h1, .content-dark h2, .content-dark h3, .content-dark h4, .content-dark h5 {
  color: #D6D6D6
}

.content-dark pre {
  background-color: #456583;
  border-color: #f5f5f5; /* same as pre background-color */
  color: white;
}

.content-dark code {
  color: #e6f2fe;
  background-color: #456583;
}

.content-dark a {
  color: #D6D6D6 !important;
  font-weight: bold;
}

.content-dark a:hover {
  color: white !important;
}

.content-dark img.img-handle-invert {
   -webkit-filter: grayscale(1) invert(1) brightness(1.5);
   filter: grayscale(1) invert(1) brightness(1.5);
 }

.content-dark ::placeholder {
  color: white;
  opacity: 0.5;
}

.toolbar {
  z-index: 99;

  -webkit-box-shadow: 0px 4px 8px 0px rgba(69,101,131,0.75);
  -moz-box-shadow: 0px 4px 8px 0px rgba(69,101,131,0.75);
  box-shadow: 0px 4px 8px 0px rgba(69,101,131,0.75);
}

.statusbar {
  /* -webkit-box-shadow: 0px -2px 2px 0px rgba(69,101,131,0.75);
  -moz-box-shadow: 0px -2px 2px 0px rgba(69,101,131,0.75);
  box-shadow: 0px -2px 2px 0px rgba(69,101,131,0.75); */
  border-top: 1px solid rgba(69,101,131,0.75);
}

.content-dark > .statusbar  {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.statusbar a, .statusbar span {
  color: inherit;
}

.statusbar a:hover, .toolbar a:hover {
  color: white;
}

.btn-phoebe-toolbar {
  border-radius: 10px;
}

.btn-phoebe-toolbar:hover {
/* .toolbar .btn :hover { */
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.divider {
  background-color: rgba(69,101,131,0.75);
}

 /* BOOTSTRAP BUTTONS */

.btn-sub {
  color: #D6D6D6 !important;
  margin-top: 0px;
  padding: 4px;
  border: 1px solid;
  border-radius: 4px;
  border-color: transparent;
}

.btn-sub:hover {
  color: #ffffff;
  border-color: #ffffff;
}

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
   background-color: transparent;
   color: #2B71B1;
   border: 1px solid #2B71B1;
 }

 .btn-transparent, .btn-transparent:focus, .btn-transparent-disabled {
   background-color: transparent;
   color: #D6D6D6 !important;
   font-weight: 400;
   border-width: 1px;
   border-color: #D6D6D6;
   border: 1px solid;
   box-shadow: none;
 }

 .btn-transparent:hover {
   background-color: #2c71b1e3;
   text-decoration: none;
   color: #ffffff !important;
   border-color: #ffffff !important;
   border-width: 1.2px;
 }

.btn-transparent-disabled, .btn-transparent-disabled:hover {
  text-decoration: none;
  border-color: #a1a1a1 !important;
  pointer-events: none;
}

.btn-transparent-remove, .btn-transparent-remove:hover {
  border-color: red !important;
}

.btn-blue {
  color: #2B71B1;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.btn-blue:hover {
  border: 1px solid #2B71B1;
}

.btn-tag {
  background-color: #2B71B1;
  color: #D7D7D7;
  padding: 2px 10px 2px 2px;
  margin: 1px 2px 1px 2px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 0.9em;
  text-align: left;
  width: calc(100% - 3px);
  max-width: 150px
}

.splash-scrollable-btn-div {
  display: inline-block;
  height: 40px;
  width: 100%;
  /* overflow: hidden; */
  /* text-align: left; */
  margin: 0;
  margin-bottom: 10px;
}

.splash-scrollable .btn-transparent, .splash-scrollable .btn-transparent-disabled {
  height: 40px;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  /* text-align: left; */
}

.phoebe-tag-header {
  width: calc(100% + 20px);
  margin-left: -10px; /* to counter the padding in the panel */
  padding-left: 15px;
  padding-right: 10px;
  background-color: #2B71B1;
  color: white;
  cursor: pointer;
  height: 32px;
  font-weight: bold;
  padding-top: 4px;
  /* border-top: 1px solid white; */
  margin-top: 5px;
  border-radius: 4px;

  -webkit-box-shadow: 0px 3px 3px 0px rgba(69,101,131,0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(69,101,131,0.75);
  box-shadow: 0px 3px 3px 0px rgba(69,101,131,0.75);
}

.phoebe-tag-header a {
  color: #D6D6D6 !important;
  border: 1px solid transparent;
}

.phoebe-tag-header a:hover {
  color: white !important;
  border: 1px solid white;
  border-radius: 4px;
}

.phoebe-tag-drawer {
  width: calc(100% + 20px);
  margin-bottom: -5px; /* to counter the padding and box-shadow on phoebe-tag-header */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  min-height: 30px;
  text-align: center;
  /* background-color: rgba(69,101,131,0.25); */
  /* background-color:  #b9c6d1; */
}

.phoebe-parameter {
  width: calc(100% - 20px);
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 30px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: black;
  border-radius: 4px;

  -webkit-box-shadow: 4px 4px 8px 0px rgba(69,101,131,0.75);
  -moz-box-shadow: 4px 4px 8px 0px rgba(69,101,131,0.75);
  box-shadow: 4px 4px 8px 0px rgba(69,101,131,0.75);

}

.phoebe-parameter-header {
  width: 100%;
  cursor: pointer;
}

.phoebe-parameter-content {
  padding-top: 10px;
  padding-bottom: 20px;
  /* border-top: 1px solid black; */
}

.phoebe-modal-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(69,101,131,0.3);
  padding: 5%;
  z-index: 999;
}

.phoebe-modal {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 1000px;
  background-color: #2B71B1;
  border-radius: 4px;
  border: 1px solid rgba(69,101,131,1);

  -webkit-box-shadow: 4px 4px 8px 0px rgba(69,101,131,0.75);
  -moz-box-shadow: 4px 4px 8px 0px rgba(69,101,131,0.75);
  box-shadow: 4px 4px 8px 0px rgba(69,101,131,0.75);

  color: #D6D6D6;
}

.phoebe-modal a{
  color: #D6D6D6 !important;
}

.phoebe-modal a:hover{
  color: white !important;
}
