.PhoebeLogo {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 136px; /* allows auto-centering */
  height: 260px;
  box-sizing: border-box;
}

.PhoebeLogoSpinner {
  display: block;
  margin: auto;
  width: 136px; /* allows auto-centering */
  height: 260px
}

/* size and position of triangles */
.PLT, .PLTB, .PLTT {
  position: relative;
  height: 75px;
  width: 64.5px;
}

.PLTB, .PLTT {
  pointer-events: none; /* so they don't trigger animation/hover effects */
}

/* right pointing triangles */
.PLT1, .PLT3, .PLT5, .PLT7, .PLTB2, .PLTB4, .PLTB6, .PLTT1, .PLTT3 {
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

/* left pointing triangles */
.PLT2, .PLT4, .PLT6, .PLT8, .PLTB1, .PLTB3, .PLTB5, .PLTB7, .PLTT2, .PLTT4 {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

/* colors for triangles */
.PLT {
  background-color: rgba(230, 230, 230, 0.9);
}

.PLT:hover {
  background-color: rgba(230, 230, 230, 1.0);
}

.PLT8 {
  /* initial opacity is 0, after animation will be 0.65 */
  background-color: rgba(230, 230, 230, 0);
}

.PLT8:hover {
  background-color: rgba(230, 230, 230, 0.85);
}

.PLTB {
  background-color: rgba(230, 230, 230, 0.5);
}

.PhoebeLogoBlue .PLT, .PhoebeLogoBlue > .PLT8 {
  background-color: blue !important;
}

.PLTT {
  background-color: rgba(230, 230, 230, 0);
}


/* left offset for columns */
.PLT1, .PLT2, .PLT6, .PLT7, .PLT8 {
  left: 0px;
}

.PLT3, .PLT4, .PLT5 {
  left: 72px;
}

.PLTB1, .PLTB2, .PLTB6, .PLTB7 {
  left: -70px;
}

.PLTB3, .PLTB4, .PLTB5 {
  left: -142px;
}

.PLTT1 {
  left: 340px;
}

.PLTT2 {
  left: 275px;
}

.PLTT3 {
  left: 350px;
}

.PLTT4 {
  left: 260px;
}


/* top offset for rows (note these are weird because of relative positioning)*/
.PLT1 {
  top: 45px;
}

.PLT2 {
  top: -75px;
}

.PLT3 {
  top: -150px;
}

.PLT4 {
  top: -180px;
}

.PLT5 {
  top: -210px;
}

.PLT6 {
  top: -285px;
}

.PLT7 {
  top: -315px;
}

.PLT8 {
  top: -345px;
}

.PLTB1 {
  top: -380px;
}

.PLTB2 {
  top: -410px;
}

.PLTB3 {
  top: -485px;
}

.PLTB4 {
  top: -515px;
}

.PLTB5 {
  top: -545px;
}

.PLTB6 {
  top: -620px;
}

.PLTB7 {
  top: -740px;
}

.PLTT1 {
  top: -900px;
}

.PLTT2 {
  top: -900px;
}

.PLTT3 {
  top: -1075px;
}

.PLTT4 {
  top: -1025px;
}



/* handle different animation types */
.PLTB, .PLTT {
  animation: pltbfadeout 1 ease-out forwards;
  animation-duration: 800ms;
}

.PLT8 {
  animation: plt8fadein 1 ease-in forwards;
  animation-duration: 1800ms
}

.transitionInNone > .PLTB, .transitionInNone > .PLTT, .transitionInNone > .PLT8 {
  animation-duration: 0ms;
}

.transitionInContact > .PLTT {
  animation-duration: 0ms;
}

.transitionInContact > .PLTB {
  animation-duration: 1200ms;
}

.transitionInContact > .PLTB5 {
  animation-delay: 1600ms;
}

.transitionInContact > .PLTB4, .transitionInContact > .PLTB6 {
  animation-delay: 2200ms;
}

.transitionInContact > .PLTB3, .transitionInContact > .PLTB7 {
  animation-delay: 2800ms;
}

.transitionInContact > .PLTB2 {
  animation-delay: 3400ms;
}

.transitionInContact > .PLTB1 {
  animation-delay: 4000ms;
}



.transitionInContact > .PLT8 {
  animation-duration: 2000ms;
  animation-delay: 5200ms;
}


.tmpshow {
  animation: pltbfadein 600ms 1 ease-in forwards;
}

.tmphide {
  animation: pltbfadeout 600ms 1 ease-in forwards;
}

@keyframes pltbfadein {
  0% {
    background-color: rgba(230, 230, 230, 0.0);
  } 100% {
    background-color: rgba(230, 230, 230, 0.5);
  }
}

@keyframes pltbfadeout {
  0% {
    background-color: rgba(230, 230, 230, 0.5);
  } 100% {
    background-color: rgba(230, 230, 230, 0.0);
  }
}

@keyframes plt8fadein {
  0% {
    background-color: rgba(230, 230, 230, 0.0);
  } 100% {
    background-color: rgba(230, 230, 230, 0.65);
  }
}

@keyframes plt8fadeout {
  0% {
    background-color: rgba(230, 230, 230, 0.65);
  } 100% {
    background-color: rgba(230, 230, 230, 0.0);
  }
}


@keyframes spinnerFade {
  0%,
  80%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0.05;
  }
}

.animateSpinner > .PLT1, .animateSpinner > .PLT2, .animateSpinner > .PLT3, .animateSpinner > .PLT4, .animateSpinner > .PLT5, .animateSpinner > .PLT6 {
  animation: spinnerFade 1200ms infinite ease-in-out;
}

/* handle spinner delays */
.animateSpinner > .PLT1 {
  animation-delay: 0ms;
}

.animateSpinner > .PLT2 {
  animation-delay: 200ms;
}

.animateSpinner > .PLT3 {
  animation-delay: 400ms;
}

.animateSpinner > .PLT4 {
  animation-delay: 600ms;
}

.animateSpinner > .PLT5 {
  animation-delay: 800ms;
}

.animateSpinner > .PLT6 {
  animation-delay: 1000ms;
}

/* ignore hover effects on spinner */
.animateSpinner > .PLTB {
  opacity: 0
}

.animateSpinner > .PLT8 {
  animation: none !important;
  background-color: rgba(230, 230, 230, 0.65);
}


@keyframes shimmerFade {
  0%,
  80%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
}

.animateShimmer > .PLT {
  animation: shimmerFade 4000ms infinite ease-in-out;
  background-color: rgba(230, 230, 230, 0.65)
}

.animateShimmer > .PLT8 {
  animation-delay: 0ms;
}

.animateShimmer > .PLT7 {
  animation-delay: 100ms;
}

.animateShimmer > .PLT6 {
  animation-delay: 200ms;
}

.animateShimmer > .PLT1, .animateShimmer > .PLT5 {
  animation-delay: 300ms;
}

.animateShimmer > .PLT2, .animateShimmer > .PLT4 {
  animation-delay: 400ms;
}

.animateShimmer > .PLT3 {
  animation-delay: 500ms;
}


/* Set responsive zoom-levels for the entire logo */

.PhoebeLogo {
  zoom: 1.8;
}

@media screen and (max-height: 1000px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 1.6;
  }
}

@media screen and (max-height: 900px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 1.4;
  }
}

@media screen and (max-height: 800px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 1.0;
  }
}

@media screen and (max-height: 700px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 0.85;
  }
}

@media screen and (max-height: 600px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 0.7;
  }
}

@media screen and (max-height: 500px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 0.5;
  }
}

@media screen and (max-height: 400px){
  .PhoebeLogo, .PhoebeLogoSpinner {
    display: none;
  }
}
